name: Deploy to Beget VPS

on:
  push:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: redeploy-main
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22

          # ВАЖНО: увеличиваем таймауты
          command_timeout: 60m
          timeout: 60m

          script: |
            /usr/local/bin/deploy_redexx_ci
